BW\BlogBundle\Entity\Post:
    type: entity
    table: posts
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        heading:
            type: string
            length: 255
        description:
            type: text
        published:
            type: boolean
        created:
            type: datetime
        updated:
            type: datetime
        author:
            type: string
            length: 255
    manyToOne:
        category:
            targetEntity: BW\BlogBundle\Entity\Category
            inversedBy: posts
    lifecycleCallbacks: {  }
