{% extends 'BWBlogBundle:Skeleton:base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block menu %}
    {{ parent() }}
    <li><a href="#contacts">Contacts</a></li>
{% endblock %}

{% block content %}
    {{ array.one }}
    Hello <b>{{ name }}!</b>, {{ surname }}
{% endblock %}
